#
# COLORS
#

set $bg_solar   #002b36
set $fg_solar   #657b83
set $gray       #666666
set $brown      #b58900
set $white      #ffffff
set $black      #000000
set $red        #990000
set $blue       #007fbf
set $bg_cde     #fff7e9
set $cde_pink   #b24d7a
set $cde_purple #afadbf
set $cde_dim    #202020


#
# APPLICATIONS
#

set $terminal_app     "xterm -T main-term"
set $alt_terminal_app "sakura -t alt-term"
set $app_launcher     "dmenu_run -l 1 -nb '#b24d7a' -nf '#ffffff' -sb '#b24d7a' -sf '#ffffff' -p ':: '"
set $status_app       "i3status"
set $lock_app         "locker"


#
# WORKSPACES
#

set $term_workspace   workspace 1
set $web_workspace    workspace 2
set $msg_workspace    workspace 3
set $extra_workspace  workspace 4


bar {
    colors {
        background         $fg_solar
        statusline         $cde_dim
		separator          $cde_pink
        focused_workspace  $cde_pink      $cde_pink $white
        active_workspace   $cde_pink      $cde_pink $white
        inactive_workspace $cde_pink      $cde_pink $cde_dim
        urgent_workspace   $red           $red        $white
    }
    position bottom
    status_command $status_app
    modifier Mod1
}

# ITEM           BORDER BACKGROUND  TEXT    INDICATOR    CHILD-BORDER
client.focused   $blue  $blue       $white
client.unfocused $gray  $gray       $white
client.urgent    $red   $red        $white

## Hide borders, use 1 px if displayed.
hide_edge_borders	both
new_window	        pixel 0

## Standard font.
font xft:Go Mono 6



#
# DIRECT APPLICATION SHORTCUT KEYS
#

bindsym ctrl+shift+f [title="Firefox"]         focus
bindsym ctrl+shift+b [title="Google Chrome"]   focus
bindsym ctrl+shift+w [title="qutebrowser"]     focus
bindsym ctrl+shift+t [title="main-term"]       focus
bindsym ctrl+$mod+shift+t [title="alt-term"]   focus
bindsym ctrl+shift+h [title="Slack"]           focus
bindsym ctrl+shift+m [title="Signal"]          focus


#
# KEYS
#

## Use Alt as main modifier.
set $mod Mod1

## Drag floating windows using Mouse+$mod.
floating_modifier $mod

bindsym $mod+Shift+Return      exec $terminal_app
bindsym $mod+Shift+Ctrl+Return exec $alt_terminal_app
bindsym $mod+q                 kill
bindsym ctrl+space             exec $app_launcher
bindsym ctrl+shift+$mod+l      exec --no-startup-id $lock_app
bindsym $mod+b                 border toggle
bindsym $mod+h                 focus left
bindsym $mod+t                 focus down
bindsym $mod+n                 focus up
bindsym $mod+s                 focus right
bindsym $mod+Shift+Left        move left
bindsym $mod+Shift+Down        move down
bindsym $mod+Shift+Up          move up
bindsym $mod+Shift+Right       move right
bindsym $mod+v                 split v
bindsym $mod+f                 fullscreen
bindsym $mod+Shift+space       floating toggle
bindsym $mod+space focus       mode_toggle
bindsym $mod+1                 workspace 1
bindsym $mod+2                 workspace 2
bindsym $mod+3                 workspace 3
bindsym $mod+4                 workspace 4
bindsym $mod+Shift+1           move container to workspace 1
bindsym $mod+Shift+2           move container to workspace 2
bindsym $mod+Shift+3           move container to workspace 3
bindsym $mod+Shift+4           move container to workspace 4
bindsym $mod+Shift+j           reload
bindsym $mod+Shift+p           restart
bindsym $mod+Shift+period      exec "i3-nagbar -t warning -m 'Exit i3?' -b 'Yes, exit i3' 'i3-msg exit'"

## Resize mode.
bindsym $mod+r mode "resize"
mode "resize" {
    bindsym h resize shrink width 10 px or 10 ppt
    bindsym t resize grow height 10 px or 10 ppt
    bindsym n resize shrink height 10 px or 10 ppt
    bindsym s resize grow width 10 px or 10 ppt
    bindsym Left resize shrink width 10 px or 10 ppt
    bindsym Down resize grow height 10 px or 10 ppt
    bindsym Up resize shrink height 10 px or 10 ppt
    bindsym Right resize grow width 10 px or 10 ppt

    ## End resize mode.
    bindsym Return mode "default"
    bindsym Escape mode "default"
}

bindsym XF86Launch1 exec 'locker'
bindsym $mod+Shift+Ctrl+h move scratchpad
bindsym $mod+Shift+Ctrl+s scratchpad show


#
# EXEC
#

# Dual monitors, DVI is primary in normal orientation; HDMI is rotated and left hand side.
exec xrandr --output DVI-0 --auto --primary --output HDMI-0 --left-of DVI-0 --auto --rotate left

exec xsetroot -solid $bg_solar
exec /usr/bin/xrdb -merge $HOME/.Xdefaults
exec /home/rkk/bin/setdvorarkk

