* {
    font-family: "Go Regular" !important;
    /* color: #eee8b5 !important; */
    border: 0px solid #002b36 !important;
    /* color: #93a1a1 !important; */
    color: #002b36 !important;
    background: #ffffea !important;
    font-weight: normal !important;
    font-size: 14px !important;
    text-decoration: none !important;
    text-shadow: unset !important;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100% !important;
    text-transform: uppercase !important;
    background: #eaffff !important;
}


/*
img, figure, svg {
    display: none !important;
}
*/
iframe {
    display: none !important;
}

::before, ::after, :before, :after {
    font-family: "Go Regular" !important;
    border: 0px solid #002b36 !important;
    color: black !important;
    background: #ffffea !important;
    font-weight: normal !important;
    font-size: 14px !important;
    text-decoration: none !important;
    text-shadow: unset !important;
}
